@use "sass:map";
@use "../../config/config" as config;

$breakpoint-lg: map.get(config.$grid-breakpoints, lg);

@media (max-width: $breakpoint-lg) {
  header {
    .navbar {
      padding: 0 1rem;

      &__toggler {
        display: block;
      }

      &__header {
        display: flex;
        justify-content: center;
        padding: 10px;
        border-bottom: 1px solid rgb(223, 220, 220);
        position: relative;
      }

      &__close {
        position: absolute;
        right: 10px;
        font-size: 2rem;
      }

      &__body {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100%;
        background-color: #fff;
        transition: left 0.3s ease-in-out;
        z-index: 1050;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
      }

      &__body.show {
        left: 0;
        visibility: visible;
        overflow-y: scroll;
      }

      &__item {
        padding: 0 1.5rem;
        position: relative;

        &:last-child {
          padding-bottom: 100px;
        }

        &::after,
        &:hover::after {
          content: "";
        }

        > .navbar__link[aria-expanded="false"]::after {
          content: "\f077";
          font-family: "FontAwesome";
          position: absolute;
          font-size: 8px;
          color: #ccc;
          right: 10px;
          top: 10px;
        }

        > .navbar__link[aria-expanded="true"]::after {
          content: "\f078";
          font-family: "FontAwesome";
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }

      &__link {
        display: block;
        margin: 0.6rem 0;
      }

      &__dropdown-menu {
        position: static;
        box-shadow: none;
        display: none;
        visibility: unset;
        background-color: #faf8f8;
        border: none;

        &.active {
          display: block;
          transform: none;
        }
      }
    }
  }
}
