<nav class="navbar">
  <div class="container-fluid">
    <div class="container-lg d-flex justify-content-space-between align-items-center">
      <!-- Navbar Toggler -->
      <button type="button" class="navbar__toggler d-none btn-icon" aria-controls="navbar" aria-expanded="false" aria-label="Toggler navigation">
        <span class="navbar__toggler-icon">
          <i class="fa-solid fa-list"></i>
        </span>
      </button>

      <!-- Logo -->
      <div class="navbar__logo">
        <a class="navbar__logo-link" href="/home" aria-label="Homepage">
          <img class="navbar__logo-image" src="/img/logo.png" alt="Logo" />
        </a>
      </div>

      <!-- Menu Body -->
      <div class="navbar__body">
        <!-- Navbar Menu -->
        <div class="navbar__header d-none">
          <h5 class="navbar__menu-title">Menu</h5>
          <button type="button" class="navbar__close btn-icon" aria-label="Close menu">
            <span class="navbar__close-icon"><i class="fa-solid fa-xmark"></i></span>
          </button>
        </div>

        <ul class="navbar__list d-flex" role="menu">
          <!-- Dropdown -->
          <li class="navbar__item dropdown" role="menuitem" aria-haspopup="true">
            <a href="#" class="navbar__link dropdown-toggle" id="dropdownMenu-1" aria-expanded="false">
              Giày Nam
            </a>
            <ul class="navbar__dropdown-menu visibility-hidden z-index-2" aria-labelledby="dropdownMenu" role="menu">
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Thể Thao</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Đi Chơi</a></li>
              {{! <li role="separator"><hr class="navbar__dropdown-divider" /></li> }}
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="navbar__item dropdown" role="menuitem" aria-haspopup="true">
            <a href="#" class="navbar__link dropdown-toggle" id="dropdownMenu-2" aria-expanded="false">
              Giày Nữ
            </a>
            <ul class="navbar__dropdown-menu visibility-hidden z-index-2" aria-labelledby="dropdownMenu" role="menu">
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Thể Thao</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Boot</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="navbar__item dropdown" role="menuitem" aria-haspopup="true">
            <a href="#" class="navbar__link dropdown-toggle" id="dropdownMenu-3" aria-expanded="false">
              Giày Cặp
            </a>
            <ul class="navbar__dropdown-menu visibility-hidden z-index-2" aria-labelledby="dropdownMenu" role="menu">
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Cute</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Boot</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="navbar__item dropdown" role="menuitem" aria-haspopup="true">
            <a href="#" class="navbar__link dropdown-toggle" id="dropdownMenu-4" aria-expanded="false">
              Balo-Túi
            </a>
            <ul class="navbar__dropdown-menu visibility-hidden z-index-2" aria-labelledby="dropdownMenu" role="menu">
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Balo Laptop, Du Lịch, Thời Trang</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Túi Đeo Chéo</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="navbar__item dropdown" role="menuitem" aria-haspopup="true">
            <a href="#" class="navbar__link dropdown-toggle" id="dropdownMenu-5" aria-expanded="false">
              Phụ Kiện
            </a>
            <ul class="navbar__dropdown-menu visibility-hidden z-index-2" aria-labelledby="dropdownMenu" role="menu">
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Vớ</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Chai Xịt Giày</a></li>
              <li class="navbar__dropdown-item" role="menuitem"><a class="navbar__dropdown-link d-block" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- Search Form -->
      <div class="navbar__search">
        <form class="navbar__search-form" role="search">
          <input type="text" class="navbar__search-input" placeholder="Search..." aria-label="Search" />
          <button type="submit" class="navbar__search-button btn-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <button type="button" class="navbar__search-close btn-icon d-none" aria-controls="Search" aria-expanded="false" aria-label="Close menu">
          <span class="navbar__close-icon"><i class="fa-solid fa-xmark"></i></span>
        </button>
      </div>

      <!-- Footer Links -->
      <div class="navbar__footer d-flex align-items-center">
        <button type="submit" class="navbar__search-button--mobile d-none btn-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
        <a href="/login" class="navbar__login"><i class="fa-solid fa-user"></i></a>
        <a href="/register" class="navbar__register"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
    </div>
  </div>
</nav>