<!-- slider -->
<div class="slider-container">
  <button class="slider__prev">❮</button>
  <div class="slider">
    <img class="slider__image" src="/img/slider-pc-1.jpg" data-large="/img/slider-pc-1.jpg" data-small="/img/slider-mb-1.jpg" alt="Slider Image 1" draggable="false" />
    <img class="slider__image" src="/img/slider-pc-2.jpg" data-large="/img/slider-pc-2.jpg" data-small="/img/slider-mb-2.jpg" alt="Slider Image 2" draggable="false" />
    <img class="slider__image" src="/img/slider-pc-3.jpg" data-large="/img/slider-pc-3.jpg" data-small="/img/slider-mb-3.jpg" alt="Slider Image 3" draggable="false" />
    <img class="slider__image" src="/img/slider-pc-4.jpg" data-large="/img/slider-pc-4.jpg" data-small="/img/slider-mb-4.jpg" alt="Slider Image 4" draggable="false" />
  </div>
  <button class="slider__next">❯</button>
</div>