@use "../../config/config" as config;

$display-utilities: (
  display: config.$display,
);

@each $property, $values in $display-utilities {
  @each $value in $values {
    $class-name: "d" + str-slice($property, 9);
    .#{$class-name}-#{$value} {
      #{$property}: $value;
    }
  }
}
